@use '../../vars' as *;
.pagination{
  position: absolute;
  bottom: 10%;
  left:48%;
  display: flex;
  justify-content: center;
  &__page{
    font-size: 25px;
    margin: 10px;
  }

  &__button{
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }
}