@use '../../vars' as *;
.test{
  font-family: TinkoffSans-Medium;
  font-size: 30px;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: 30%;
  left: 36%;
  background-color: white;



}
.dashboard{
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  &__text{
    font-family: TinkoffSans-Medium;
    font-size: 30px;
    padding-bottom: 20px;
  }

  &__subText{
    font-family: 'TinkoffSans-Regular';
    font-size: 20px;
  }
}